#main{
    background-image:url('./templates/paper.jpg');
    background-size: cover;
}

#logo{
    width: 100%;
    height: 100px;
    background-color: aqua;
}
#questions{
     margin: 10px;
    width: 100%;
    height: 300px;
    background-color:lightpink;
    padding: 10px;
    
}
/* .boxes{
    margin: 10px;
    width: 50%;
    height: 150px;
    background-color:lightgreen;
    padding: 10px;
    float: left;
  } */
#login{
    margin: 10px;
    width: 200px;
    height: 200px;
    background-color: antiquewhite;
    padding: 10px;
    
}

#signup{
    margin: 10px;
    width: 150px;
    height: 50px;
    background-color:cadetblue;
    padding: 5px;
    margin-bottom: 10px;
}

#creams{
     margin: 10px;
    width: 100%;
    height: 200px;
    background-color:lightpink;
    padding: 10px;
    overflow: scroll;
}
.boxes{
    margin: 10px;
    width: 150px;
    height: 100px;
    background-color:lightgreen;
    padding: 10px;
    overflow: scroll;
    float: left;
    justify-content: center;
}
#contacts{
  
    width: 100%;
    height: 120px;
    background-color: coral;
}